node_modules
node-khqr/node_modules
vendor
.git
.env
.env.*
!.env.example
public/storage
public/hot
public/build
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/pail
.phpunit.cache
.phpunit.result.cache
*.log
.DS_Store
